<template>

</template>

<script>
  import {SnotifyToast} from "vue-snotify";

  export default {
    components: {SnotifyToast, Snotify},
    name      : "ToastNotification",
    props     : ["ntype", "ntitle", "ntext"],
    data ()
    {
      return {
        config: {
          timeout : 7500,
          position: "rightTop",
        },
      };
    },
    mounted ()
    {
      console.log(this.config);
      if (this.ntype == "simple")
      {
        this.$snotify.simple(this.ntext, this.ntitle, this.config);
      }
      if (this.ntype == "success")
      {
        this.$snotify.success(this.ntext, this.ntitle, this.config);
      }
      if (this.ntype == "info")
      {
        this.$snotify.info(this.ntext, this.ntitle, this.config);
      }
      if (this.ntype == "warning")
      {
        this.$snotify.warning(this.ntext, this.ntitle, this.config);
      }
      if (this.ntype == "error")
      {
        this.$snotify.error(this.ntext, this.ntitle, this.config);
      }
    },
  };
</script>

<style scoped>

</style>