.wrapper
{
  display:     flex;
  align-items: stretch;
}

#sidebar, #sidebar div,#sidebar.active, #sidebar.active div
{
  transition: all 0.5s;
  transition-timing-function: ease;
}
#sidebar ul, #sidebar ul ul
{
  transition: visibility 0s;
}
#sidebar
{
  background: #7386D5;
  color:      #FFFFFF;
  min-height: 100vh;
}

#sidebar, #sidebar div
{
  min-width: 250px;
  max-width: 250px;
}

/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active, #sidebar.active div
{
  min-width: 65px;
  max-width: 65px;
  //text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/

#sidebar.active .sidebar-header h3
{
  display: none;
}

#sidebar .sidebar-header strong
{
  display:   none;
  font-size: 1.8em;
}

#sidebar.active .sidebar-header strong
{
  display: block;
}

// link
#sidebar ul li a
{
  text-align: left;
}

#sidebar.active ul li a
{
  padding:    17px 5px;
  text-align: center;
  font-size:  0.85em;
}

// link icon
#sidebar.active ul li a i
{
  margin-right:  0;
  display:       block;
  font-size:     1.8em;
  margin-bottom: 5px;
}

// dropdown
#sidebar.active ul ul a
{
  padding: 10px !important;
}


#sidebar.active .dropdown-toggle::after
{
  top:               auto;
  bottom:            10px;
  right:             50%;
  -webkit-transform: translateX(50%);
  -ms-transform:     translateX(50%);
  transform:         translateX(50%);
}

#sidebar .sidebar-header
{
  background: #6D7FCC;
}

#sidebar ul.components
{
  padding:       20px 0;
  border-bottom: 1px solid #6675C5;
}

#sidebar ul li a
{
  padding:   10px;
  font-size: 1.1em;
  display:   block;
}

#sidebar ul li a i
{
  margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"]
{
  color:      #FFFFFF;
  background: #6D7FCC;
}

#sidebar ul li a:hover
{
  color:      #7386D5;
  background: #FFFFFF;
}

/*
a[data-toggle="collapse"]
{
  position: relative;
}

.dropdown-toggle::after
{
  display:   block;
  position:  absolute;
  top:       50%;
  right:     20px;
  transform: translateY(-50%);
}
*/
ul ul a
{
  font-size:    0.9em !important;
  padding-left: 30px !important;
  background:   #6D7FCC;
}

a.article,
a.article:hover
{
  background: #6D7FCC !important;
  color:      #FFFFFF !important;
}

a,
a:hover,
a:focus
{
  color:           inherit;
  text-decoration: none;
  transition:      all 0.0s;
}

.sidebar-height
{
  height: 100vh;
}

/* Collape-Toogle Icon visibility */

nav#sidebar.active .collapser .do-collapse, nav#sidebar.active span.link-text
{
  display: none;
}

nav#sidebar:not(.active) .collapser .expand
{
  display: none;
}

.collapser
{
  display: block;
}
.collapser-hover:hover
{
  background: #5670BF;
}
/*
  Submenu
 */
@import "vertical_submenu";
@import "sidebar_mediaqueries";