// Variables
@import "variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
// Custom
@import "sidebar";
@import "custom";

@font-face
{
  font-family: Poppins;
  src:         url("../fonts/Poppins-Regular.ttf");
}

body
{
  font-family: 'Poppins', sans-serif;
}

.navbar-laravel
{
  background-color: #FFFFFF;
  box-shadow:       0 2px 4px rgba(0, 0, 0, 0.04);
}
